
div{width: 1024px;
    height: 200px;
    background-color: lightskyblue;
margin: auto;

}

div div{width: 1024px;
height: 90px;
background-color: grey;
}

div div + div{width: 190px;
height: 500px;
background-color: brown;
margin-top: 100px;
float: left;}

div div + div +div{width: 644px;
height: 500px;
background-color: rgb(147, 70, 211);
margin-top: 100px;
float: left;}

div div + div +div +div {width: 190px;
height: 500px;
background-color: brown;
margin-top: 100px;
float: left;
}

div div + div + div +div +div {
    width: 1024px;
height: 90px;
background-color: rgb(153, 180, 55);
margin-top: 0;
}

